
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0.7)),url("imagen-fondo.jpg");  
    background-size: cover;
    background-position: center;
    height: 100vh
}
#inicio.contenido header{
    background-color: rgba(2, 2, 2, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
}
.contenido-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
#enlaces{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.presentacion{
    max-width: 1100px;
    height: 500px;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.presentacion-2{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.presentacion-2 p,h2,a{
    color: #fff;
    text-decoration: none;
}
.botonproyecto{
    padding: 10px;
    background-color:rgb(106, 106, 221);
    border-radius: 15px;
}

/*seccion sobre mi*/
#sobremi{
    max-width: 1100px;
    margin:auto;
    padding: 100px 15px;
    color:#111135;
    display: flex;
}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}
#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100px;
    border-radius: 20px;
    background-color: beige;
}
#sobremi .sobremi{
    margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: beige;
    text-decoration-thickness: 5px;
}
#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    color: #111135;
}
#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: brown;
    margin-bottom: 12px;
}
/*seccion portafolio*/
#proyectos{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#proyectos .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: beige;
    text-decoration-thickness: 5px;

}
.container {
    max-width: 1100px;
    margin:auto;
    padding: 100px 15px;
    color:#111135;
    display: flex;
   

}

.card {
    width: 30%;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    width: 100px;
    border-radius: 20px;
    background-color: beige;
}

button {
    padding: 10px 20px;
    background-color:#333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/*seccion contacto*/
#contacto {
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 100px;
    margin-bottom: 50PX;
}

.contact h1 {
    margin-top: 40px;
}

.contact-container {
    margin: auto;
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.contact-form .input-text {
    width: 90%;
    height: 39px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 5px;
}

.input-submit {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: #ffc800;
    color: black;
    outline: none;
    border-radius: 10px;
    border: none;
}

.input-submit:hover{
    background-color: #0084ff;
    cursor: pointer;
    transition: all .3s;
}

#text-message {
    width: 90%;
    height: 200px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 10px;
    border: 1px solid rgb(219, 219, 219);
    resize: none;
}

.input-text:focus{
    outline: 2px solid #f8c7168c;
}

#text-message:focus{
    outline: 2px solid #f8c7168c;
}